* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 15px 30px;
}

.nav-title {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

nav button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

.login-btn {
    background: blue;
}

.register-btn {
    background: green;
}

.upload-btn {
    background: orange;
}
.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px; 
    margin: 50px auto;
    background: white;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    max-width: 500px; 
    border-radius: 10px;
}

.content {
    flex: 1;
    padding-left: 5px; 
}

h1 {
    margin: 15px;
    color: red;
    text-align: center;
}

.content p {
    font-size: 18px;
    line-height: 1.5;
    color:black;
}
